html,
body {
    height: 100%;
//background-color: #e6f2ff;
    //background-image: url("/images/bg.jpg");
    background-size: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.navbar-brand {
    min-width: 250px;
}

.bt-logo {
    background-image: url("/images/bt-logo128x128.png");
    background-size: 100% 100%;
//width: 40px;
//height: 40px;
    display: block;
}

.bt-brand {
    background-image: url("/images/bt-logo128x128.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    vertical-align: middle;
    padding-left: 20%;
}

.requests-grid-header {
    font-size: 14px;
}

.requests-grid-row {
    font-size: 14px;
}

.request-grid-container {
    font-size: 14px;
}

.nav-top, .header, .menu {
    position: relative;
}
.header {
    color: white;
}
.ibg-bg {
    position: absolute;
}

.body-content {
    color: white;
}

@media (min-width: 768px){
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: white;
        white-space: nowrap;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        margin-top: 15px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
        /*margin: 7.5px 50px 7.5px -15px*/
        margin: 0 0 0 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.navbar {
    background:transparent !important;
}

.form-group .checkbox label, .form-group .radio label, .form-group label {
    color: white !important;
}

.checkbox label, .radio label, label {
    color: white !important;
}

.form-control {
    color: white !important;
}

.glyphicon {
    color: white !important;
}

.input-group-addon {
    color: white !important;
}

.form-control, .form-group .form-control {
    float: left;
}

.kv-container-from,
.kv-container-to {
    background-image: none !important;
}

.has-success .input-group-btn .btn-default {
    background-color: transparent !important;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    color: white !important;
}

a, a:hover, a:focus {
    color: white !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}

::-webkit-input-placeholder {color:white !important;}
::-moz-placeholder          {color:white !important;}/* Firefox 19+ */
:-moz-placeholder           {color:white !important;}/* Firefox 18- */
:-ms-input-placeholder      {color:white !important;}

.site-index {
    text-align: center;
}
body {
    background: url('/images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}

.wrap {
    background-color: rgba(0,0,0,0.5)
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    body {
        background: url(/images/bg.jpg) no-repeat center center fixed;
    }
    .bootstrap-touchspin-down {
        padding: 0px !important;
    }
    .bootstrap-touchspin-up {
        padding: 0px !important;
    }

    .form-group {
        margin-top: 5px !important;
    }
}

.datepicker table tr td, .datepicker table tr th {
    color: black;
}

.navbar-nav {
    background-color: rgba(0,0,0,0.4) !important;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .dropdown .dropdown-toggle .caret {
        display: inline-block;
    }
    a.dropdown-toggle:after {
        display: none;
    }
    .navbar .dropdown-menu .dropdown-header, .navbar.navbar-default .dropdown-menu .dropdown-header {
        background-color: inherit;
    }
}

.pagination>li>a, .pagination>li>span {
    background-color: transparent;
    border: 0;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    background-color: transparent;
}

.tt-input.loading {
    background: none !important;
}

@media (min-width: 768px) {
    .site-index {

        padding-left:200px;
        padding-right:200px;
    }
}

.datepicker.dropdown-menu {
    background-color: rgba(255,255,255,0.9);
    color: #000;
}

.btn, .input-group-btn .btn {
    padding: 8px 10px;
}

.navbar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: 20%;
        left: 80%;
        position: relative;
    }
}

.navbar .glyphicon {
    margin-right: 10px;
}

.navbar .navbar-collapse, .navbar .navbar-form {
    border:none;
}

.field-request-origin,
.field-request-destination {
    display: none;
}

.wrap {
    padding-bottom: 0;
}





